<div class="background-animation-container">
  <iframe 
    src="https://my.spline.design/planetrotationcopy-56796cd6991fdf173280d48cf44072e1/"
    frameborder="0"
    width="100%"
    height="100%"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen; gamepad; microphone; speaker; vr"
  ></iframe>
</div>

<mat-toolbar color="primary" class="overlay">
  <mat-toolbar-row>
    <span>Welcome Page</span>
    <span style="flex: 1 1 auto;"></span>
    <a mat-button routerLink="/signup" routerLinkActive="active">Sign Up</a>
    <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
