  <!--you started from here for the planet-->
  <!-- Conditionally show the toolbar only if it's not the login page -->
<!-- Toolbar -->

  <!-- Conditionally render toolbar rows -->
  <mat-toolbar>
    <ng-container *ngIf="!isLoginPage && !isSignupPage; else hiddenContent">
      <mat-toolbar-row class="normal-toolbar">
        <span routerLink="/" routerLinkActive="active" style="cursor: pointer;">Welcome Page</span>
        <span style="flex: 1 1 auto;"></span>
        <a mat-button routerLink="/signup" routerLinkActive="active" style="color: white;">Sign Up</a>
        <a mat-button routerLink="/login" routerLinkActive="active" style="color: white;">Login</a>
      </mat-toolbar-row>
    </ng-container>
    <ng-template #hiddenContent></ng-template>
  </mat-toolbar>

<!-- Background Animation -->
<div class="background-animation-container">
  <iframe 
    src="https://my.spline.design/planetrotation-1dd7f92644e840b37def2a08468a3dac/"
    frameborder="0"
    width="100%"
    height="100%"
    style="pointer-events: auto; z-index: 1; position: relative;"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen; gamepad; microphone; speaker; vr"
  ></iframe>
</div>

<!-- Bottom Toolbar to Hide Spline Logo --> <mat-toolbar *ngIf="!isLoginPage && !isSignupPage" class="bottom-toolbar"> </mat-toolbar>

<!-- Main Content -->
<router-outlet></router-outlet>

