.success-message {
    font-size: 1.2em;
    color: green;
    text-align: center;
    margin-top: 10px;
  }
  
  .error-message {
    font-size: 1.2em;
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  